{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/buy" method="post" >
        <div class="mb-3">
            <input type="text" name="symbol" placeholder="Symbol" class="form-control mx-auto w-auto">
        </div>
            <div class="mb-3">
                <input type="number" name="shares" placeholder="Shares" min="1" class="form-control mx-auto w-auto">
            </div>
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>

{% endblock %}
